{% extends 'base.html' %}
{% block title %} Welcome to NFT Wallet Checker {% endblock %}
{% block content %}
    <br>
    <br>
    <h1 class="fade-in-text">Welcome to NFT Wallet Checker</h1>
    <h3>Find the value of any eth wallet! Just search the address below</h3>
    <br>
    <form class="d-flex" role="search" method="POST">
        <input name="WalletAddy" class="form-control me-2" type="search" placeholder="Enter Wallet Here" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <br>
    <br>
    <h2>{{ totalval }}</h2>
    <h2>{{ totaletht }}</h2>
    <h2>{{ ethprice }}</h2>
    <br>
    <br>
    <table class="table table-hover">
        <tr>
            {% for col in column_names %}
            <th>{{col}}</th>
            {% endfor %}
        </tr>
        {% for row in row_data %}
        <tr>
            {% for col, row_ in zip(column_names, row) %}
            <td>{{row_}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        <!-- {% for table in tables %}
                {{titles[loop.index]}}
                {{ table|safe }}
        {% endfor %} -->
    </table>
    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}